<br><br><br>

<div class="container text-center">
  <p>You little RoR omniauth monster, you! Facebook Auth is required for us to keep out spammers and bots. It's not a perfect system, but it's what works best... for me.</p>
  <%= link_to "Facebook Login", "/users/auth/facebook", id: "sign_in", class: "btn btn-primary btn-lg" %>
</div>