<div class="chatrooms">
    <%= form_tag("/chatrooms/join", method: "post", class: "form-horizontal center col-xs-4 col-xs-offset-4") do %>
    <%= text_field_tag 'slug', nil, class: "form-control" %>
    <br><br>
    <%= submit_tag("Join Game", class: "btn btn-primary") %>
    <% end %>
</div>