<br>
<br>
<br>
<br><div class="well">
<div class="container">
  <div class="row chatrooms">
    <section class="col-xs-12">
      <%= render partial: 'chatroom_join', locals: {chatroom: @chatroom} %>
    </section>
  </div>
  <div class="row chatrooms">
    <section class="col-xs-12">
      <%= render partial: 'chatroom_form', locals: {chatroom: @chatroom} %>
    </section>
  </div>
</div></div>