<br><br><br>

<div class="row nav-offset col-md-8 col-md-offset-2 text-center">

  <h1 class="">Create a Game</h1>
    <div class="well">
<br><br>

      <div class="chatroom-form">
        <%= form_for @chatroom do |f| %>
          <div class="input-group">
            <span class="input-group-addon">topic:</span>
            <%= f.text_field :topic, class: "form-control"%>
          </div>
          <br>
          <%= f.submit "Create Game", class: "btn btn-primary", id: "create-game" %>
        <% end %>
      </div>
    </div>

</div>

