<% require 'schwarzefaker' %>

<div class="container nav-offset">
  <h1>Welcome to MemeWars</h1>
  <p> <%= Arnold.quote %> </p>
  <p> <%= Arnold.villain %> </p>
  <p> <%= Arnold.character %> </p>
  <p> <%= Arnold.movie %> </p>
</div>