
<div class="nav-offset container">

  <h2>Make a new picture <%= link_to 'New picture', new_picture_path, class: 'nav-offset new-picture' %></h2>

  <section id="pictures">
    <%= render @pictures %>
  </section>
</div>