<% if flash.notice %>
  <div class="alert alert-primary">
    <% if flash.notice.is_a? String %>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= flash.notice %>
      </div>
      
    <%elsif flash.notice.is_a? Hash %>
      <% flash.notice.each do |type, messages|%>
        <div class="alert alert-warning alert-dismissible" role="alert"> 
          </span><%messages.each do |msg|%>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%=msg%>
        </div>
        <%end%>
      <%end%>
    <%end%>

  </div>
<%end%>